button.to-start {
    text-decoration: none;
    width: 200px;
    height: 65px;
    font-size: 24px;
    font-weight: 800;
    word-spacing: 8px;
    letter-spacing: 1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button.to-start:hover {
    box-shadow: none;
}

button.to-start:focus {
    outline: none !important;
    box-shadow: none !important;
}